@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #FCEAFF -0.95%, #E3F2FD 99.79%);
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
    padding: 1rem 1rem;
}

nav {
    width: 60%;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(233px);
    padding: .7rem 1.4rem;
    border-radius: 50px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 5ms cubic-bezier(0.19, 1, 0.22, 1) linear;
}

nav:hover {
    background-color: rgba(255, 255, 255);
}

.left-nav a {
    font-family: 'poppins';
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

.right-nav i {
    font-size: 2rem;
}

.right-nav {
    cursor: pointer;
}

.right-nav i:nth-child(2) {
    display: none;
}

main {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

h1 span {
    font-weight: 900;
}

p {
    font-size: 0.9rem;
    font-family: 'poppins';
    font-weight: 300;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid #E0E0E0;
    background: rgba(255, 255, 255, 0.7);
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: #333;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}    

input::placeholder {
    color: transparent;
    background: linear-gradient(93deg, #FF5733 1%, #800080 8%, #333 18%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
}

.checkbox-group label {
    font-size: .6rem;
}

.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid royalblue;
    border-radius: 5px;
    cursor: pointer;
}

#nextButton {
    width: 100%;
    padding: .9rem;
    border-radius: 25px;
    border: none;
    background: linear-gradient(180deg, #5A5A5A -5%, #2C2C2C 31.43%);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
}

#nextButton a {
    text-decoration: none;
    color: #fff;
}

#nextButton:hover {
    background: linear-gradient(180deg, #4A4A4A -5%, #1A1A1A 31.43%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


body {
    background: transparent;
    background: linear-gradient(192deg, #FFF -0.24%, #F5F5F5 100%), linear-gradient(168deg, #F5F5F5 0%, #FFF 100%);
}

@media (max-width: 430px) {    
    body {
        padding: 1rem 1rem;
        background: linear-gradient(180deg, #FCEAFF -0.95%, #E3F2FD 99.79%);
        /* background: linear-gradient(180deg, #F6E5FF -0.95%, #FFD6E8 30%, #C8E7FF 60%, #FFF 100%); */
    }

    nav {
        width: 100%;
        padding: a;
    }

    main {
        align-items: center;
    }

    header {
        padding: .2rem 0;
    }

    .container {
        max-width: 100%;
    }

    h1 {
        font-size: 2.2rem;
        min-width: 70%;
    }

    p {
        font-size: 0.8rem;
    }
}


.game-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    display: none;
}

.inner-game {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 3.125rem;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.20);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.player-x {
    color: #007bff;
}

.player-o {
    color: #800080;
}

.score {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.39738rem;
    background-color: #fff;
    box-shadow: 0px 1.863px 7.453px 0px rgba(0, 0, 0, 0.08);
}

.score-x, .score-o {
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem;
}

.score-x {
    border-radius: 1.39738rem 0rem 0rem 1.39738rem;
    background: #016FE7;
    box-shadow: 0px 1.863px 7.453px 0px rgba(0, 0, 0, 0.08);
    color: #fff;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    aspect-ratio: 1;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    /* background-color: #f9f9f9; */
    cursor: pointer;
}

.cell:nth-child(1) {
    border-right: 0.895px solid rgba(0, 0, 0, 0.35);
    border-bottom: 0.895px solid rgba(0, 0, 0, 0.35);
}

.cell:nth-child(3) {
    border-left: 0.895px solid rgba(0, 0, 0, 0.35);
}

.cell:nth-child(4) {
    border-bottom: 0.895px solid rgba(0, 0, 0, 0.35);
}

.cell:nth-child(5) {
    border: 0.895px solid rgba(0, 0, 0, 0.35);
}

.cell:nth-child(6) {
    border-top: 1px solid rgba(0, 0, 0, 0.35);
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.cell:nth-child(7) {
    border-right: 0.895px solid rgba(0, 0, 0, 0.25);
}

.cell:nth-child(9) {
    border-left: 0.895px solid rgba(0, 0, 0, 0.25);
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0;
}

.board-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.score-board-control-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.turn-indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.39738rem;
    font-weight: 600;
    box-shadow: 0px 1.863px 7.453px 0px rgba(0, 0, 0, 0.08);
}

.timer {
    border-radius: 1.39738rem;
    background: #FFF;
    box-shadow: 0px 1.863px 7.453px 0px rgba(0, 0, 0, 0.08);
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-family: 'poppins'
}

.timer span {
    color: transparent;
    background: linear-gradient(93deg, #FF5733 1%, #800080 50%, #333 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.turn-x {
    background-color: #007bff;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 1.39738rem 0rem 0rem 1.39738rem;
    color: #fff;
}

.turn-o {
    color: #800080;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0rem 1.39738rem 1.39738rem 0rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    font-family: 'poppins';
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restart {
    width: 50%;
    border-radius: 1.5rem;
    background: linear-gradient(109deg, #FFC107 40.16%, #DDA409 64%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.new-game {
    width: 50%;
    border-radius: 1.5rem;
    background: linear-gradient(0deg, #000 11.7%, #666 100%);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #333;
    width: 100vw;
    
}

footer i {
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 430px) {
    .game-container {
        width: 100%;
        max-width: 100%; /* Ensure it uses full width on small screens */
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .inner-game {
        padding: 0;
        gap: .8rem;
        margin-bottom: 2rem;
    }

    .board {
        padding: 0;
    }

    .board-control {
        width: 100%;
    }

    .controls {
        /* display: none; */
    }

    .player-x, .player-o {
        font-size: .8rem;
    }

    .scoreboard {
        padding: .8rem 1rem;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}